/Banglore Ticket Management/.vs
/Banglore Ticket Management/BangloreTalkies/bin
/Banglore Ticket Management/BangloreTalkies/obj
/Legacy Movie Ticket Management/.vs
/Legacy Movie Ticket Management/packages
/Legacy Movie Ticket Management/Movie Ticket Management/bin
/Legacy Movie Ticket Management/Movie Ticket Management/obj

